extends layout/main-layout.pug
block content

    script. 
         const postId = '!{postId}'
    
        

    #postContainer
    #repliesContainer
    +createPostModal(userLoggedIn)
block scripts 
    script(type="module" src="/js/post.js") 