mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .userImageContainer     
            img(src=userLoggedIn.profilePic, alt="User's Profile Pic")
        .textareaContainer 
            textarea#postTextArea(placeholder="What's Happening?")
            .buttonsContainer
                button#submitButton(disabled="") Post 

mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyeModalLabel.modal-title Reply
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    #postToBeReplied
                    .postFormContainer 
                        .userImageContainer     
                            img(src=userLoggedIn.profilePic, alt="User's Profile Pic")
                        .textareaContainer 
                            textarea#replyTextArea(placeholder="What's Happening?")
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary#replyButton(type='button', disabled="") Reply

mixin createDeletePostModal(userLoggedIn)
    #deletePostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deletePostModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#deletePostModalLabel.modal-title Delete
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    p  You won't be able to delete this
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary#deletePostButton(type='button') Delete
mixin createPostModal(userLoggedIn)
    +createReplyModal(userLoggedIn)
    +createDeletePostModal()